.Collapse-big-container-Housing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
    /* position: relative; */
}

.collapse-bigest-container {
    margin: 0 100px 0 100px;
}

.Title-Housing {
    font-size: 36px;
    font-weight: 500;
    color: var(--second-color);
    margin:10px 0;
}

.Town-Title-Housing {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color);
    margin:0;
}

.Tag-Housing {
    display: flex;
    margin: 20px 0;
    justify-content: start;
    align-items: center;
}

.Tag-Housing-Unit {
    display: flex;
    }

.Tag-Housing-Unit button{
    /* width: 115px; */
    padding: 0 20px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--second-color);
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    margin-right: 10px;
}

.Host-Name-Housing {
font-size: 18px;
font-weight: 500;
text-align: right;
color: var(--second-color);
}

.Host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.Host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.rating {
    display: inline-block;
    margin-top: 20px;
  }
  
  .rating .star {
    width: 24.75px;
    height: 24px;
    color: #E3E3E3;
    padding-left: 10px;

  }
  
  .rating .star.selected {
    color: var(--second-color);
  }

  .Container-Informations-Housing {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;
  }