.collapse-container {
  margin: 30px 0 30px 0;
}

.collapse-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--third-color);
  background-color: var(--second-color);
  border: none;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 20px 10px 15px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.collapse-icon {
  width: 24px;
  height: 14px;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.collapse-icon.open {
  transform: rotate(-180deg);
}

.collapse-content {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(246,246,246,0.45);
  padding: 0px 20px;
  border-radius: 5px;
  border:none;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-in-out, opacity 0.5s linear;
  position: relative;
  z-index: 1;
}

.collapse-content.open {
  max-height: 500px;
  opacity: 1;
}

.collapse-content.closed {
  max-height: 0;
  opacity: 0;
}

.collapse-text {
  transform: translateY(-20px);         
  opacity: 0;
  font-size: 18px;
  font-weight: 400;  
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  font-stretch: ultra-expanded;
  padding: 10px 0 5px 0;              
}

.collapse-content.open .collapse-text {
  animation: slideTextOpen 0.2s ease-in-out 0.2s forwards;
}

.collapse-content.closed .collapse-text {
  animation: slideTextClose 0.2s ease-in-out forwards;     
}

@keyframes slideTextOpen {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTextClose {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}