footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 209px;
    position:relative;
    bottom: 0;
    margin:0;
    padding: 0;
}

.footer_logo{
    height: 40px;
    margin: 65px 0px 30px 0px;
}

.footer_text {
    color: var(--third-color);
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
}

.footer_text br {
    display: none;
}