.Container-Header-main-Footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html, body {
  height: 100%;
}

/****** Media queries ***********/
@media (max-width: 1024px) {

.header {
  padding: 50px;
}

.banner {
  padding: 0 50px 0 50px;
}

.banner-overlay {
  margin: 0 50px 0 50px;
}

.container {
  margin: 50px;
}

.card h2 {
  font-size: 13px;
}

.gallery {
  padding: 30px;
  grid-column-gap: 4%;
  grid-row-gap: 30px;
}

.carrousel {
  margin: 0 50px 30px 50px;
}

.Container-Informations-Housing {
  margin: 0 50px;
}

.collapse-bigest-container {
  margin: 0 50px 0 50px;
}

.Title-Housing {
  font-size: 34px;
}

.rating .star {
  padding-left: 5px;
  width: 22px;
  height: 22px;
}

.footer_logo{
  margin-bottom: 15px;
}

.logo_404 {
  height: 200px;
  width: 400px;
  margin: 70px 0 70px 0;
}

.Error_text {
  font-size: 30px;
}
}

@media (max-width: 767.98px) {

.header {
  padding: 20px;
}

.header_logo {
  height: 46px;
}

nav li {
  padding: 0 0 0 15px;
  text-transform:uppercase;
  font-size: 12px;
}

.banner-text {
  font-size: 24px;
  text-align: start;
  justify-content: start;  
  margin-right: 10px;
  left:50px;
}

.banner {
  padding: 0 20px 0 20px;
}

.banner img {
  height: 111px;
  border-radius: 10px;
}

.banner-overlay {
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.banner-text br {
  display: flex;
}

main {
  margin: 0;
}

.container {
  background-color: transparent;
  margin: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 0px;
}

.card {
  height: 255px;
}

.card h2 {
  height: 20%;
  font-size: 16px;
}

.footer_logo{
  margin-bottom: 15px;
}

.footer_text {
  font-size: 12px;
  margin-bottom: 50px; 
}

.footer_text br {
  display: flex;
}

.logo_404 {
  height: 99px;
  width: 198px;
}

.Error_text {
  font-size: 18px;
  text-align: center;
}

.Error_text br {
  display: flex;
}

.Error_return_HomePage {
  font-size: 14px;
}

.collapse-button-width-About {
  width: 90%;
}

.collapse-content-About {
  width: 90%;
}

.collapse-text {
  font-size: 13px;
}

.carrousel {
  margin: 10px 20px 10px 20px;
  height: 255px;
}

.carrousel-button img {
  width: 12px;
  height: 20px;
}

.Container-Informations-Housing {
  flex-direction: column;
  margin: 0 20px;
}

.Title-Housing {
  font-size: 18px;
}

.Town-Title-Housing {
  font-size: 14px;
}

.Title-Town-tags-container {
  width: 100%;
}

.Tag-Housing-Unit button {
  font-size: 10px;
  height: 18px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.Collapse-big-container-Housing {
  display: block;
}

.collapse-bigest-container {
  margin: 0 20px;
}

.collapse-button {
  font-size: 13px;
  padding: 8px 20px 8px 15px
}

.Host-Rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.Host img {
  width: 32px;
  height: 32px;
}

.Host-Name-Housing {
  font-size: 12px;
}

.rating .star {
  width: 13px;
}

.rating {
  margin-top: 0;
}

.collapse-icon {
  width:16px;
  height:9.14px;
}

.collapse-container {
  margin: 15px 0 20px 0;
}

.Container-Informations-Housing {
  gap:0;
}

.Tag-Housing {
  margin: 15px 0 10px 0;
}
}